/* small device */
@media screen and (max-width:576px) {

    nav,
    .skils-container,
    .resume-content,
    .about-info-container,
    .contact,
    .banner {
        flex-direction: column;
        gap: 20px;
        padding: 10px 20px;
    }

    .banner{
        margin: 0 20px;
    }
    .banner img{
        width: 100%;
    }
    nav ul {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        padding-left: 0;
    }
    nav li{
        padding-left: 5px;
    }

    .header {
        background-image: none;
    }

    .about-me {
        padding: 20px;
    }

    .contact input[type="text"],
    input[type="email"],
    textarea {
        margin-bottom: 24px;
        border: 0;
        width: 100%;
        padding: 18px 5px;
    }
}


/* medium device */
@media screen and (min-width:577px) and (max-width:992px) {

    .about,
    .contact {
        padding: 20px;
    }

    .contact,
    .banner {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        padding-left: 20px;
    }
    nav li{
        margin-left: 0px;
    }
}
